extends layout

block content
  div.background
    div.leftblog
      div.leftbloghead
      div.leftblogcircle
      div.leftblogfoot
        div.psnlInfo
          div.infotext
            p name:
            img
            p #{name}
          div.infotext
            p phone:
            img
            p #{phone}
          div.infotext
            p e-mail
            img
            p #{email}
          div.infotext
            p GitHub
            img
            p #{github}
          div.infotext
            p LinkedIn
            img
            p #{linkedin}


    div.rightblog